<div class="login">
   <h2 style="text-align:center;padding-bottom:20px;">Log-In</h2>
   <form (ngSubmit)="onLogIn(loginForm)" #loginForm="ngForm">
   <div class="form-group">
    <input type="email" class="form-control" name="email" id="email" placeholder="email" ngModel  #email required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  </div>
  <div class="form-group">
    <input type="Password" class="form-control" name="password" id="password" placeholder="Password" ngModel #password required>
  </div>
   <div style="text-align:center">
     <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Log-In</button>
     <div>
       <a routerLink="/register" >Wanna Sign-Up ?</a>
     </div>
  </div>
     </form>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  
  