  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="dashboard">ngFinal</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Manage Users
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active"><a routerLink="userlisting" >User Listing</a></li>
           <li routerLinkActive="active"><a routerLink="addUser" >Add User</a></li>
        </ul>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{email}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a style="cursor:pointer" (click)="onlogOut()" >Log-Out</a></li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>
<div style="text-align: center;margin-top:50px;">
  <router-outlet></router-outlet>
  </div>
  